{{> head }} {{> navbar }}

<div class="row">
   <div class="col-8">
      <h1>Heroes</h1>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
         aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
         occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
   </div>
   <div class="col-4">
      <img src="assets/image/heroes.jpg" class="img-thumbnail">
   </div>
</div>

{{> footer }}
